.grid {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}
.cell {
    padding: unset;
    height: 30px;
    padding: 15px 0px 0px 15px;
}

.header-cell {
    height: 30px;
    padding: 15px 0px 0px 15px;
}
.header-row {
    border-radius: 0.5rem 0.5rem 0 0;
}

.row {
    &:hover {
        background: silver;
    }
}
