@import "./variables.scss";

.cell {
    align-content: center;
    padding: 1rem;
    vertical-align: middle;
    word-break: break-word;
    border-right: 1px solid $border-color;
    &:first-child {
        border-left: 1px solid $border-color;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-cell {
    vertical-align: middle;
    color: $header-text-color;
    border-right: 1px solid $border-color;
    &:last-child {
        border-right: unset;
    }
}

.sortable {
    cursor: pointer;
}

.sorted {
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.sort-asc {
    border: 5px solid transparent;
    border-bottom-color: $sort-icon-color;
    margin-bottom: 5px;
    margin-left: 10px;
}

.sort-des {
    border: 5px solid transparent;
    border-top-color: $sort-icon-color;
    margin-top: 6px;
    margin-left: 10px;
}
